#home-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
    max-width: 100%;
    /* margin-top: 50px; */
}


#home-content .content-left{
    padding: 30px;
}

#home-content .content-left h1{
    font-size: 50px;
    
    margin-bottom: 0;
}

#home-content .content-left p{
    margin-bottom: 20px;

}

#home-content .content-left .btn{
    color: #ffffff;
}
#home-content .content-left .btn:hover{
    background-color: var(--primary-color);
    color: #ffffff;
}

#home-content .content-right-one{
    padding: 30px;
}

#home-content .content-right-one h1{
    font-size: 50px;
    margin-bottom: 0;
    
}

#home-content .content-right-one p{
    margin-bottom: 20px;

}

#home-content .content-right-one .btn:hover{
    background-color: var(--primary-color);
    color: #fff;
}

#home-content .content-right img{
    width: 500px;
    height: 500px;
}

#home-content .content-left-one img{
    margin-left: -10px;
    width: 500px;
    height: 500px;
}
@media(max-width: 767px){
    #home-content{
        flex-direction: column-reverse;
    }
    #home-content .content-right{
        position: relative;
        top: 5%;
        left: 0;
    }
    
    #home-content .content-right img{
        width: 200px;
        height: 200px;
        margin-bottom: 0px;
    }
    #home-content .content-left{
        position: relative;
        top: 5%;
    }
    #home-content .content-left h1{
        font-size: 20px;
        margin-bottom: 10px;
    }
    #home-content .content-left p{
        font-size: 12px;
    }
}

@media(min-width: 768px) and (max-width: 1023px){
    #home-content .content-right{
        position: relative;
        top: 0%;
        left: 0;
    }
    #home-content .content-right img{
        width: 400px;
        height: 400px;
        margin-bottom: 0px;
    }
    #home-content .content-left{
        position: relative;
        top: 5%;
    }
    #home-content .content-left h1{
        font-size: 30px;
        margin-bottom: 10px;
    }
    #home-content .content-left p{
        font-size: 20px;
        margin-bottom: 20px;
        display: block;
    }
}


footer{
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: raw;
    padding: 50px;
}
.header-footer img{
    width: 100px;
    height: 100px;
}
.header-footer ul li{
    list-style: none;
}
.header-footer h2{
    color: #ffffff;
    margin-bottom: 10px;
    text-decoration: underline;
}
.header-footer ul li a{
    color: #ffffff;
    padding: 20px;
}